<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url('<%= @list.image_url %>');">
  <div class="container">
    <h1><%= @list.name %></h1>
    <br>
    <div class="buttons">
      <%= link_to "Add movie", new_list_bookmark_path(@list), class: "btn btn-light" %>
      <%= link_to "Edit list", edit_list_path(@list), class: "btn btn-flat my-4" %>
    </div>
  </div>
</div>

<div class="container mt-1">
  <div class="cards my-2">
    <% @list.movies.each do |movie| %>
      <div class="card card-movie col-3 shadow-lg m-4">
        <h5 class="fw-bolder"><%= movie.title %></h5>
        <img src="<%= movie.poster_url %>" alt="">
        <div class="p-2" id="movie-details">
          <p><%= movie.overview %></p>
          <p><%= movie.rating %></p>
          <% bookmark = movie.bookmarks.find_by(list: @list) %>
          <%= link_to "Delete",
            bookmark_path(bookmark),
            data: { turbo_method: :delete, turbo_confirm: "Are you sure?" },
            class: "btn btn-ghost text-end"
          %>
        </div>
      </div>
    <% end %>
  </div>
</div>
